/* section-adv */

.adv{
    background-color: #2B2B2B;

    padding: 130px 0;
}

/* adv-up */

.adv__h2{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 100px;
    line-height: 130%;
    text-align: center;
    color: #fff;

    margin-bottom: 121px;
    }

/* adv-down */

.adv__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}

.adv__cards-item {
    width: 640px;
    height: 459px;
    position: relative;
    

    background-size: cover;
    background-position: center;
}

.adv__cards-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.60); 

    z-index: 1; 
}

.adv__cards-item:nth-child(2)::before {
    background-color: rgba(0, 0, 0, 0); 
}


.adv__cards-item p{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #fff;

    position: absolute;
    bottom: 50px;
    left: 60px;
    
    z-index: 2;
}