/* section-adv */

.adv{
    background-color: #2B2B2B;

    padding: 130px 0;
}

/* adv-up */

.adv__h2{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 100px;
    line-height: 130%;
    text-align: center;
    color: #fff;

    margin-bottom: 121px;
    }

/* adv-down */

.adv__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}

.adv__cards-item {
    width: 640px;
    height: 459px;
    position: relative;
    

    background-size: cover;
    background-position: center;
}

.adv__cards-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.60); 

    z-index: 1; 
}

.adv__cards-item:nth-child(2)::before {
    background-color: rgba(0, 0, 0, 0); 
}


.adv__cards-item p{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #fff;

    position: absolute;
    bottom: 50px;
    left: 60px;
    
    z-index: 2;
}

.footer {
    background-color: #161516;
}

.footercon {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.footer__container {
    display: flex;                 
    justify-content: space-between; 
    align-items: flex-start;        
    width: 100%;          
    padding-top: 50px;              
    box-sizing: border-box;          
}
.footer__left {
    width: 65%;
    display: flex;
    justify-content: space-between; 
    max-width: 800px;               
}





.footer__col {
    width: 158px;
    height: 319px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    color: #fff;
    margin: 0 0 20px 0; 
    font-size: 18px;
    font-weight: bold;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    
}

.footer__list a {
    text-decoration: none;
    color: #b3b3b3;            
    transition: color 0.3s ease; 
}
.footer__list a:hover {
    color: #ffffff;          
    
}

.footer__right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;         
}
.footer__contacts-row {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;    
    gap: 24px;       
    padding-bottom: 15px;
    
}
.phone__number {
    margin: 0;
    font-family: 'Stolzl', sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.footer__socials {
    height: 41px;
    display: flex;
    align-items: center;
    gap: 16px;        
}


.footer__social-link {
    display: flex;
    width: 40px;
    height: 40px;
    transition: color 0.3s ease, transform 0.2s ease, filter 0.3s ease;
}


.footer__social-link svg {
    width: 100%;
    height: 100%;
}
.footer__social-link--tg {
    color: #24A1DE; 
}


.footer__social-link--wa {
    color: #25D366; 
}


.footer__social-link:hover {
   transform: scale(1.1);
    filter: brightness(1.2);       
}
.footer__callback-btn {
    background: transparent;
    border: 1px solid #33B7BC;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 6px;
    font-family: 'Stolzl', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: fit-content; 
    margin-right: 180px;
}
.footer__callback-btn:hover {
    background-color: #33B7BC;
    color: #111111;
}
.address1 {
    font-family: Stolzl;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    color: #ffffff;
    line-height: 34px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 25px;

}
.footer__subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 568px;
    height: 90px;
    padding: 0 20px;
    border-radius: 10px;
    box-sizing: border-box;
    
    
    background: transparent; 
    border-radius: 20px;
    border: 1px solid #444444; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4); 
}

.footer__input {
    background: transparent;      
    border: none;
    outline: none;
    width: 65%;
    
    
    color: #888888; 
    font-family: 'Stolzl', sans-serif;
    font-size: 18px;
}


.footer__input::placeholder {
    color: #888888;              
}


.footer__submit-btn {
    
    background-color: #33B7BC;   
    
    
    color: #ffffff;              
    
    
    border: none;
    padding: 30px 35px;          
    border-radius: 10px;         
    
    /* Шрифты */
    font-family: 'Stolzl', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;   
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.1s ease;
}


.footer__submit-btn:hover {
    background-color: #289da1;   
}


.footer__submit-btn:active {
    transform: scale(0.98);      
}